<!DOCTYPE html>
<html lang="tr-TR">

<head>
    <title>D&R-Kültür,Sanat ve Eğlence Dünyası</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />




    <link rel="shortcut icon" href="/images/icon.ico" />


</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="row">


            </div>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" class="d-inline-block align-top" alt="DR">

                </a>
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-light ">
                            <div class="row my-2">
                                <div class="col-12">

                                    <div class="row">
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/kitap.png" class="card-img-top;"
                                                     alt="Kitap">
                                                <div class="card-body">
                                                    <h5 class="card-title"><a href="@Url.Action("Books","Home")" class="text-dark">Kitap</a></h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/kobo.png" class="card-img-top"
                                                     alt="kobo">
                                                <div class="card-body">
                                                    <h5 class="card-title">E-Kitap</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/film.png" class="card-img-top"
                                                     alt="Film">
                                                <div class="card-body">
                                                    <h5 class="card-title"><a href="@Url.Action("Films","Home")" class="text-dark">Film</a></h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/müzik.png" class="card-img-top"
                                                     alt="Müzik">
                                                <div class="card-body">
                                                    <h5 class="card-title">Müzik</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/elektronik.png"
                                                     class="card-img-top" alt="elektronik">
                                                <div class="card-body">
                                                    <h5 class="card-title">Elektronik</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/kirtasiye.PNG"
                                                     class="card-img-top" alt="Kirtasiye">
                                                <div class="card-body">
                                                    <h5 class="card-title">Kırtasiye</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-12">

                                    <div class="row">
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/yenicikan.PNG" class="card-img-top;"
                                                     alt="yenicikan">
                                                <div class="card-body">
                                                    <h5 class="card-title">Yeni Çıkan Kitaplar</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/coksatan.PNG" class="card-img-top"
                                                     alt="coksatan">
                                                <div class="card-body">
                                                    <h5 class="card-title">Çok Satanlar</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/hediyelik.PNG" class="card-img-top"
                                                     alt="hediyelik">
                                                <div class="card-body">
                                                    <h5 class="card-title">Hediyelik Eşyalar</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/spor.PNG" class="card-img-top"
                                                     alt="spor">
                                                <div class="card-body">
                                                    <h5 class="card-title">Spor & Outdoor</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/hobi.PNG"
                                                     class="card-img-top" alt="hobi">
                                                <div class="card-body">
                                                    <h5 class="card-title" style="padding: 5px">Hobi & Oyuncak</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="card d-block" style="height:140px; width:110px">
                                                <img width="70" height="70" src="/images/kampanyalar.PNG"
                                                     class="card-img-top" alt="Kampanyalar">
                                                <div class="card-body">
                                                    <h5 class="card-title">Kampanyalar</h5>
                                                    <p class="card-text"></p>

                                                </div>
                                            </div>
                                        </div>



                                    </div>






                                </div>
                            </div>

                        </div>


                    </div>
                    <nav class="navbar navbar-light bg-light active">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                                aria-expanded="false" aria-label="Toggle navigation">

                            <span class="navbar-toggler-icon"></span>MENÜ

                        </button>

                    </nav>



                </div>

                <div class="input-group col-7 col-my-5">
                    <input type="text" class="form-control" placeholder="HANGİ ÜRÜNÜ ARIYORSUN?" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-danger" type="button" id="button-addon2">ARA</button>
                    </div>
                </div>


                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="btn btn-second " href="#">ÜYE GİRİŞİ</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-second active" href="#">SEPETİM <span class="badge badge-danger">0</span></a>
                        <img src="/images/sepet.png" width="20" height="20" alt="DRR">
                    </li>


                </ul>
            </nav>

        </header>

        @RenderBody()

        <footer class="footer bg-light text-dark p-3">

            <div class="row ">

                <div class="col-md-2">
                    <ul style="list-style: none">
                        <li><a href="@Url.Action("About","Home")" class="text-dark">D&R Hakkında</a></li>
                        <li>D&R Mağazalar</li>
                        <li>Sanal Hediye Kartı</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul style="list-style:none">
                        <li> D&R Kart</li>
                        <li>Mobil Uygulamalar</li>
                        <li> <a href="@Url.Action("Contact","Home")" class="text-dark">İletişim</a></li>
                        </tr>
                </div>
                <div class="col-md-3">
                    <ul style="list-style: none">
                        <li>Yardım / SSS</li>
                        <li>İşlem Rehberi</li>
                        <li>Mağaza Etkinlikleri</li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <ul style="list-style: none">
                        <li>Kampanyalar</li>
                        <li>Kırtasiye</li>
                        <li>Plak</li>
                    </ul>
                </div>
                <div class="col-md-2">


                    <div class="social-media">
                        <a style="color: gray" href="https://www.facebook.com/DRdunyasi"><i class="fab fa-facebook "></i></a>
                        <a style="color: gray" href="https://twitter.com/DRDunyasi"><i class="fab fa-twitter"></i></a>
                        <a style="color: gray" href="https://www.instagram.com/dr_dunyasi/"><i class="fab fa-instagram"></i></a>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row col-12">
                <div class="row col-5 mx-2">
                    <p>&copy; Copyright 2000-2019 Turkuvaz Müzik Kitap Mağazacılık ve Pazarlama A.Ş. Tüm hakları saklıdır.</p>
                </div>
                <div class="row col-3">
                    <li>
                        <a href="https://e-sirket.mkk.com.tr/esir/Dashboard.jsp#/sirketbilgileri/10740" class="text-dark">Bilgi Toplumu Hizmetleri</a>
                    </li>

                </div>
                <div class="row col-4">
                    <li> <a href="@Url.Action("Kvkk","Home")" class="text-dark">Kişisel Verilere İlişkin Aydınlatma Metni</a></li>

                </div>


            </div>

        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>