@model MyDrSite.Models.ContactViewModel
<h2 style="text-align:center">İletişim</h2>
<hr>
<h3 style="text-align:center">Bize Yazın</h3>


<div class="container">
    @using (Html.BeginForm())
    {
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success">
                @ViewBag.Message

            </div>
        }
        @Html.ValidationSummary(false)
        <div class="row my-2">

            <div class="col-md-6 p-4">


                <div class=" form-group row">
                    @Html.LabelFor(model => model.Email)

                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>

                <div class=" form-group row">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })


                </div>

                <div class=" form-group row">
                    @Html.LabelFor(model => model.LastName)
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>




            </div>

            <div class="col-md-6 my-5 ">

                <div class=" form-group row my-2">
                    @Html.EnumDropDownListFor(model => model.Gunlere, "Seçiniz")
                    @Html.ValidationMessageFor(model => model.Gunlere, "", htmlAttributes: new { @class = "text-danger" })
                </div>
                    <!--Html.DropDownList("Drop", "SEÇİNİZ")
             Html.DropDownListFor(model => model.Drop, (SelectList)ViewBag.Drop, new { class = "DropDownList-control" })

                    Html.LabelFor(model => model.Drop)
        Html.ValidationMessageFor(model => model.Drop, "SEÇİNİZ", new { class = "text-danger" })-->






                    <div class=" form-group row">

                        @Html.LabelFor(model => model.Message)
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>

                </div>

            </div>

        <div class="row">
            <div class="col-md-6 offset-md-5">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
            <br>
            <br>
        </div>

    }



    <div class="row">
        <div class="row col-4 ml-4 m-10 ">
            <div class="card border-secondary mb-5 " style="max-width: 18rem;height: 200px">
                <div class="card-header">D&R Müşteri Hizmetleri</div>
                <div class="card-body text-secondary">

                    <p class="card-text">
                        T: +90 (850) 266 3737
                        M: bilgi@dr.com.tr

                        Çağrı Merkezi Çalışma Saatlerimiz: 09:00 – 21:00
                    </p>
                </div>
            </div>

        </div>
        <div class="row col-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6015.981668328638!2d28.99243!3d41.069193!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6b53a5d7dc4736cc!2zRCZS!5e0!3m2!1str!2str!4v1564312637976!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<br>
<br>
